* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("immagini/legno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Parametri parte del titolo */
#title {
  height: 200px;
  width: 100%;
  background-image: url("immagini/sfondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 6px solid white;
}

#text {
  color: white;
  position: absolute;
  top: 100px;
  left:50%;
  font-family: arial;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}


/* Parametri del blocco con bottoni */
.menu {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  background-color: #666666;
}

/* Definizione dei tre blocchi */
.blocco {
  display: inline-block;
}

.sezione {
  border-radius: 3%;
}

.sinistro {
  float: left;
  width: 20%;
  height: 100%;
}

.centrale {
  float: left;
  width: 56%;
  height: 100%;
  margin-left: 2%;
}

.destro {
  float: right;
  width: 20%;
  height: 100%;
  margin-left: 2%;
}

/* Fine dei tre blocchi */

/* Definizione elementi interni ai blocchi */
.prima {
  width: 100%;
  height: 400px;
  background-color: white;
  float: left;
}

.seconda {
  width: 100%;
  height: 200px;
  background-color: white;
  float: left;
}

.terza {
  width: 100%;
  height: 300px;
  background-color: white;
  float: right;
}

.quarta {
  width: 100%;
  height: 300px;
  background-color: white;;
  margin-top: 4%;
  float: right;
}

.quinta {
  width: 100%;
  height: 300px;
  background-color: white;
  margin-top: 4%;
  float: right;
}
/* Definizione elementi interni ai blocchi */


.sinistra::after {
  content: "";
  display: table;
  clear: both;
}

.centrale::after {
  content: "";
  display: table;
  clear: both;
}

.destra::after {
  content: "";
  display: table;
  clear: both;
}

h3 {
  text-align: center;
  padding-top: 2%;
}

#principale {
  height: 100%;
  width: 100%;
}

#principale::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  height: 100px;
  width: 100%;
  background-color: white;
  margin-top: 2%;
  border-radius: 3%;
}

footer {
  text-align: center;
}
