* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("immagini/legno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#title {
  height: 200px;
  width: 100%;
  background-image: url("immagini/sfondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  border: 6px solid white;
}

.menu {
  width: 100%;
  height: 50px;

  margin-bottom: 10px;
  background-color: #666666;
}

/* Definizione blocco principale */
.blocco {
  width: 100%;
  height: 100%;
}

.sezione {
  border-radius: 3%;

}

.prima {
  width: 20%;
  height: 200px;
  background-color: red;
  float: left;
}

.seconda {
  width: 56%;
  height: 200px;
  margin-left: 2%;
  background-color: white;
  float: left;
}

.terza {
  width: 20%;
  height: 200px;
  background-color: white;
  margin-left: 2%;
  float: right;
}

.quarta {
  width: 20%;
  height: 300px;
  background-color: black;
  margin-left: 2%;
  margin-top: 2%;
  float: right;

}

.quinta {
  width: 20%;
  height: 300px;
  background-color: white;
  margin-top: 2%;
  float: right;
}

.blocco::after {
  content: "";
  display: table;
  clear: both;
}

.navig::after {
  content: "";
  display: table;
  clear: both;
}

.contenent::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  width: 100%;
  height: 100px;
  background-color: green;

  margin-top: 10px;
  margin-bottom: 10px;
}
